body {
	color: white;
}

header {
	background-color: black;
	height: 50px;
	position: relative;
}

header .container {
	display: flex;
	height: inherit;
	box-sizing: border-box;
	justify-content: space-between;
}

.logo {
	align-items: center;
}

.logo a {
	color: white;
}

.options {
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.options a {
	text-decoration: none;
	color: white;
	margin-left: 15px;
}

.main {
	display: flex;
}

.navbar {
	background-color: black;
}

aside {
	margin-top: 5px;
	display: block;
	width: 150px;
}

nav a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 20px;
}

nav a:hover {
	background-color: #28a745;
	border-radius: 7px;
	text-decoration: none;
	color: white;
}

.menu-splitter {
	border-top: 1px solid #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
}

.active {
	background-color: #28a745;
	border-radius: 7px;
}

.toggle {
	height: 100%;
	display: none;
} 

.toggle-line {
	width: 30px;
    margin: 2px;
    border-top: 5px solid #ccc;
    margin-top: 7px;
    border-radius: 20px;
}


.form-settings {
	color: white;
}

.flash {
    border: 1px solid red;
    background-color: red;
    color: white;
	padding: 3px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.feed-item {
	background-color: rgb(128, 128, 128);
	border: 1px solid #c9cacc;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	max-width: 75%;
	display: flex;
	flex-direction: column;
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 5px;
	margin-left: 15px;
}

.feed-item img {
	margin-right: 10px;
}

.music-title {
	color: black;
	font-size: 25px;
	font-weight: bolder;
}

.music-artist {
	color: white;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
}

.music-info {
	color: white;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}



@media (max-width: 768px) {
	.toggle {
		display: block;
	}

	aside {
		display: none;
	}
}