body {
    margin: 0;
    font-family: "Maiandra GD";
    background-image: url('../images/fundo.jpg');
    background-size: cover;
}

header {
   display: flex;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

.nome {
    justify-content: center;
    text-align: center;
    line-height: 50px;
}

label {
    display: inline-block;
    width: 350px;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.labelLetra, .areaLetra {
    display: block;
}

button {
    border-radius: 5px;
    height: 20px;
}

label, select, input {
    margin-bottom: 5px;
}

.buttonForm {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.buttonFooterForm {
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    width: 140px;
}

footer {
    margin-top: 30px;
}