body {
    margin: 0px;
    font-family: "Maiandra GD";
    background-image: url('../images/fundo.jpg');
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nome {
    justify-content: center;
    text-align: center;
    line-height: 50px;
}

section {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

label {
    display: inline-block;
    width: 350px;
}

.buttonForm {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 5px;
    height: 20px;
}

.buttonFooterForm {
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
    width: 140px;
}

input, select, label {
    margin-bottom: 5px;
}

.labelLetra, .areaLetra {
    display: block;
}