body {
    margin: 0;
    font-family: "Maiandra GD";
    background-image: url('../images/fundo.jpg');
    background-size: cover;
    justify-content: center;
    
}

section {
    display: flex;
    justify-content: center;
}

.container {
    background-color: red;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
}

.tabelaSuasMusicas {
    flex: 2;
    background-color: blue;
    margin: 4px;
    min-height: 143px;
}

table {
    width: 100%;
}

.infoMusica {
    flex: 1;
    background-color: pink;
    margin: 4px;
    padding: 4px;
    min-height: 143px;
}

.letra {
    flex: 3;
    background-color: yellow;
    margin: 4px;
    padding: 4px;
    min-height: 143px;
}

footer {
    display: flex;
    justify-content: center;
}

.tabela {
    display: flex;
    flex-direction: column;
}
