body {
    margin: 0;
    font-family: "Maiandra GD";
}

.all {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -220px;
    width: 1000px;
    height: 421px;
    padding-bottom: 20px;
    background-image: url('../images/fundo.jpg');
    background-size: cover;
    
}

header {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.sec {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: black;
    font-size: 48px;
}

section {
    display: flex;
    justify-content: center;
}

label {
    display: inline-block;
    width: 100px;
}

a:visited {
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

input {
    width: 250px;
    margin: 5px;
    height: 25px;
}

button {
    margin: 10px;
    width: 150px;
}

.footerform {
    diplay: flex;
    justify-content: space-around;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

#botao {
    font-family: "Maiandra GD";
    font-size: 23px;
}